**
!/packages/container/lib/**
!/packages/container/package.json
!/packages/container/scripts/docker-entrypoint.sh
!/packages/container/scripts/docker-entrypoint.sh
!/packages/container/src/font/font-loader.ts
!/packages/container/src/font/font-strip.py
!/packages/web-fonts/lib/**
!/packages/web-fonts/package.json
!requirements.txt
