on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      node-version:
        required: true
        type: string
      pnpm-version:
        required: true
        type: string
      version:
        required: false
        type: string
    secrets:
      CODECOV_TOKEN:

permissions:
  contents: read
  packages: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.10'
          cache: 'pip'
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
      # - name: write .npmrc
      #   run: |
      #     cat << EOF > "$HOME/.npmrc"
      #       //npm.pkg.github.com/:_authToken=$GITHUB_TOKEN
      #       @escapace:registry=https://npm.pkg.github.com
      #       always-auth=true
      #     EOF
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: install pnpm
        uses: pnpm/action-setup@v3.0.0
        with:
          version: ${{ inputs.pnpm-version }}
          run_install: false
      - name: get pnpm store directory
        id: pnpm-store-path
        run: echo "value=$(pnpm store path)" >> $GITHUB_OUTPUT
      - name: pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-store-path.outputs.value }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store
      - name: install dependencies
        run: |
          pip3 install --upgrade pip
          pip3 install -r packages/container/requirements.txt
          pnpm install
      - name: build
        run: pnpm run build
      - name: typecheck
        run: pnpm run typecheck
      - name: test
        run: pnpm run test
      - name: code coverage
        uses: codecov/codecov-action@v4.3.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: pnpm pack
        if: inputs.version != ''
        run: pnpm run pack --version ${{ inputs.version }}
      - name: upload
        if: inputs.version != ''
        uses: actions/upload-artifact@v4
        with:
          retention-days: 3
          name: package
          path: |
            **/lib/*.tgz
            !**/node_modules/**
